<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    <title>{{ title }}</title>
</head>


<article>

    <body>

        <header>
            <nav>

                <ul>
                    <li><a href="/" class="secondary"><strong>BrandName</strong></a></li>
                </ul>
                <ul>
                    {% block head %}{% endblock %}
                    <li><a href="/manage_users" role="button">Manage Users</a></li>
                    <li><a href="/sign_in" role="button" class="primary">Sign In</a></li>
                </ul>
            </nav>
        </header>

        <div class="App">
            {% block form %} {% endblock %}
        </div>
    </body>
</article>

</html>
