<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
  <title>{{ title }}</title>
</head>
<article>

  <body>
    <header>
      <nav>
        <ul>
          <li><strong>FatFish</strong></li>
        </ul>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/playground">Playground</a></li>
          <li><a href="/data">Data</a></li>
          <li><a href="#" role="button" class="secondary">Sign In</a></li>
          <li><a href="#" role="button" class="contrast">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <section>
        <hgroup>
          <h2>Create something</h2>
          <h3>Something about creating something</h3>
        </hgroup>
      </section>
      <section>
        <form method="post" id="createform">
          <!-- Grid -->
          <div class="grid">
            <!-- Markup example 1: input is inside label -->
            <label for="firstname">
              First name
              <input type="text" id="firstname" name="firstname" placeholder="First name" required>
            </label>

            <label for="lastname">
              Last name
              <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
            </label>
          </div>

          <!-- Markup example 2: input is after label
          <label for="email">Email address</label>
          <input type="email" id="email" name="email" placeholder="coolguy@email.com" required>
          <small>We'll never share your email with anyone else.</small>
          -->

          <!--
          <details role="list" name="itemlist" id="itemlist">
            <summary aria-haspopup="listbox" placeholder="Please select items"></summary>
            <ul role="listbox" id="itemlist">
              <li>
                <label>
                  <input type="checkbox" id="fishingrod">
                  Fishing Rod
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" id="fishingreel">
                  Fishing Reel
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" id="bait">
                  Bait
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" id="tackle">
                  Tackle
                </label>
              </li>
            </ul>
          </details>
          -->
          <br>
          <label for="cars">Choose a car1:</label>
          <select name="cars" id="cars" form="createform">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          <br><br><br>

          <label for="cars">Choose a car2:</label>

          <select name="cars" id="cars" multiple="multiple" size="1" class="select">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>

          <!-- Neat div grid idea
          <div class="grid">
            <div role="button">1</div>
            <div role="button">2</div>
            <div role="button">3</div>
          </div> -->
          <section>
            <!-- Button -->
            <button type="submit">Submit</button>
          </section>
        </form>
      </section>
      <!-- <div><progress></progress></div> -->
    </main>
    <footer>Reminder, you are having fun.</footer>
  </body>
</article>

</html>
