{% extends "base.html" %}

{% block head %}
{{ super() }}
<!-- <li><a href="/create_user" role="button">Create User</a></li> -->
{% endblock %}
{% block form %}
<article>

    <body>
        <header class="App-header">
            <nav>
                <ul>
                    <li><strong>A Landing Page.</strong></li>
                </ul>
            </nav>
        </header>

        <div class="App">
            <main class="container">
                <div class="grid">
                    <div>
                        <p>Hello!</p>
                        <p>
                            Cras sit amet maximus risus.
                            Pellentesque sodales odio sit amet augue finibus pellentesque.
                            Nullam finibus risus non semper euismod.
                        </p>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='img/undraw_fishing_hoxa.svg') }}" class="App-logo"
                            alt="Yet another image." />
                    </div>

                </div>
            </main>
        </div>
    </body>
</article>

{% endblock %}
