<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
    <title>{{ title }}</title>
</head>

<article>

    <body>
        <header class="App-header">
            <nav>
                <ul>
                    <li><strong>A Landing Page.</strong></li>
                </ul>
            </nav>
        </header>

        <div class="App">
            <main>
                <!--
                <img src="{{ url_for('static', filename='undraw_energizer_re_vhjv.svg') }}" class="App-logo"
                    alt="An image." />
                <img src="{{ url_for('static', filename='undraw_personal_info_re_ur1n.svg') }}" class="App-logo"
                    alt="Another image." />
                <img src="{{ url_for('static', filename='undraw_polaroid_re_481f.svg') }}" class="App-logo"
                    alt="Yet another image." />
                -->

                <div class="grid">
                    <div>
                        <img src="{{ url_for('static', filename='undraw_fishing_hoxa.svg') }}" class="App-logo"
                            alt="Yet another image." />
                    </div>
                    <div>
                        Hello!
                    </div>
                </div>
            </main>
        </div>
    </body>
</article>

</html>
