{% extends "base.html" %}
{% block form %}
<article>


  <!--

this page needs to be rewritten to pull from new object

probably makes sense to delete duplicate db entries because they will be a pain to deal with



-->




  <body>
    <header class="App-header">
      <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
      <nav>
        <ul>
          <li><strong>Manage User Details</strong></li>
        </ul>
      </nav>
    </header>
    <section>
      User created on {{ created_time }}
    </section>
    <section>
      <form method="POST" id="manageuser">
        <input type="text" id="action" name="action" value="ManagerUser" hidden>
        <div>
          <label for="username">
            Username
            <input type="text" id="username" name="username" value="{{ username }}">
          </label>

          <label for="email">Email address</label>
          <input type="email" id="email" name="email" value="{{ email }}">
          <small>We'll never share your email with anyone else.</small>

          <label for="password">
            Password
            <input type="password" id="pw" name="pw" value="{{ pw }}">
          </label>
        </div>
        <button type="submit">Save</button>
      </form>
      </section>
      <section>
      <button type="submit" class="contrast outline" role="button" class="contrast" data-target="modal-delete-user"
        onClick="toggleModal(event)">Delete User Account</button>
    </section>


    <!-- Modal -->
    <dialog id="modal-delete-user">
      <article>
        <a href="#close" aria-label="Close" class="close" data-target="modal-delete-user" onClick="toggleModal(event)">
        </a>
        <h3>Please Confirm!</h3>
        <p>
          You are about to submit a request to delete this user from the database. This is not reversible.
        </p>
        <footer>
          <div>
            <a href="#cancel" role="button" class="secondary" data-target="modal-delete-user"
              onClick="toggleModal(event)">
              Cancel
            </a>
              <!-- <a href="#confirm" role="button" data-target="modal-delete-user" onClick="toggleModal(event)">
                Confirm
              </a> -->
              <form method="POST" id="confirmdelete">
                <button type="submit" action="confirmdelete" data-target="modal-delete-user" onClick="submitModal(event)">Do It!</button>
                <!-- <script src="{{ url_for('static', filename='js/modal.js') }}"></script> -->
                <input type="text" id="DeleteUser" name="action" value="DeleteUser" hidden>
            </form>
          </div>
        </footer>
      </article>
    </dialog>

  </body>
</article>

{% endblock %}
