<head>
  <title>{{ data }}</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">


<body class="c8 doc-content">
  <div>
    <span class="h1">Create Rule</span>
    <h2 class="c7" id="h.hxnuh04o629a"><span class="c9">Some large text</span></h2>
    <p class="c0 c4"><span class="c1"></span></p>
    <p class="c0"><span class="c1">A regular sentence.</span></p>
    <p class="c0 c4"><span class="c1"></span></p><a id="t.e2b03b1ecd727b5afaeeceeb918efcae68ba7bbd"></a><a id="t.0"></a>
  </div>

  <div class="App">
    <table class="c2">
      <tr class="c6">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c5"><span class="c1">cell_a1</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c5"><span class="c1">cell_b1</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c5"><span class="c1">cel_c1</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c5"><span class="c1">cell_a2</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c5"><span class="c1">cell_b2</span></p>
        </td>
        <td class="c3" colspan="1" rowspan="1">
          <p class="c5"><span class="c1">cel_c2</span></p>
        </td>
      </tr>
    </table>
    <p class="c0 c4"><span class="c1"></span></p>
    <p class="c0"><span class="c1">Second regular sentence.</span></p>
    <p class="c0 c4"><span class="c1"></span></p>
    <p class="c0"><span class="c1">SAVE</span></p>
    <p class="c0 c4"><span class="c1"></span></p>
    <p class="c0"><span class="c1">CANCEL</span></p>
    <form>
      <input type="text" class="c3" placeholder="Type here...">
      <input type="text" placeholder="First name">
      <button type="submit!" >Next</button>
    </form>
  </div>
</body>

