<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
  <title>{{ title }}</title>
</head>
<article>

  <body>
    <header>
      <nav>
        <ul>
          <li><strong>FatFish</strong></li>
        </ul>
        <ul>
          <!-- <li><a href="/">Home</a></li>
          <li><a href="/playground">Playground</a></li> -->
          <li><a href="/data">Data</a></li>
          <li><a href="#" role="button" class="secondary">Sign In</a></li>
          <li><a href="#" role="button" class="contrast">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <section>
        <hgroup>
          <h2>Create Account</h2>
          <h3>Something about creating something</h3>
        </hgroup>
      </section>
      <section>
        <form method="post" id="signin">
          <div>
            <label for="username">
              Username or Email Address
              <input type="text" id="username" name="username" placeholder="Username" required>
            </label>

            <label for="password">
              Password
              <input type="text" id="password" name="password" placeholder="Password" required>
            </label>
          </div>
          <section>
            <!-- Button -->
            <button type="submit">Submit</button>
          </section>
        </form>
      </section>
      <!-- <div><progress></progress></div> -->
    </main>
    <footer>Reminder, you are having fun.</footer>
  </body>
</article>

</html>
